.wheel {
    position: fixed;
    height: 55vw;
    width: 55vw;
    max-height: 500px;
    max-width: 500px;
    border: 10px double black;
    border-radius: 50%;
    top: 10%;
    left: 20%;
    /* animation-name: wheel;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
    animation:  wheel 15s linear infinite;
}

.line {
    position: absolute;
    left: 50%;
    top: 50%;
    border: 4px double rgb(16, 2, 2);
    width: 48%;
    height: 2px;
    transform-origin: 0% 0%;
}

.line:nth-of-type(2) {
    transform: rotate(60deg); 
}
.line:nth-of-type(3) {
    transform: rotate(120deg); 
}
.line:nth-of-type(4) {
    transform: rotate(180deg); 
}
.line:nth-of-type(5) {
    transform: rotate(240deg); 
}
.line:nth-of-type(6) {
    transform: rotate(300deg); 
}

.circle {
    position: absolute;
    top: 45%;
    left: 45%;
    background-color: rgb(14, 2, 2);
    width: 10%;
    height: 10%;
    border-radius: 50%;
}

.cabin {
    position: absolute;
    width: 20%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: 50% 0%;
    /* animation-name: cabins;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
    animation: cabins 15s ease-in-out infinite;
}

.cabin .cap{
    background-color: rgb(127, 132, 128);
    height: 45%;
    width: 80%;
    border-radius: 50% 50% 0 0;
    border: 2px double black;
}
.cabin .body{
    background-color: rgb(13, 85, 192);
    height: 55%;
    width: 80%;
    border-bottom: 5px double rgb(22, 22, 26);
}

.cabin:nth-of-type(2) {
    right: -8.5%;
    top: 50%;
}
.cabin:nth-of-type(3) {
    right: 17%;
    top: 93.5%;
}
.cabin:nth-of-type(4) {
    right: 67%;
    top: 93.5%;
}
.cabin:nth-of-type(5) {
    left: -8.5%;
    top: 50%;
}
.cabin:nth-of-type(6) {
    left: 17%;
    top: 7%;
}
.cabin:nth-of-type(7) {
    right: 17%;
    top: 7%;
}

@keyframes wheel {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes cabins {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}